<h2>ClearScore Pyspark Project</h2>

This 4 hour project is designed to process and analyze Clear Score data using Apache Spark. 
It performs various data transformation and aggregation tasks to provide insights into credit scores, employment status and bank data for users. 

NOTE: Change path values to where report folder was extracted to locally BEFORE running.

<h3>Future Consideration</h3>

<h4>Scalability/Production Approach</h4>
The use of Pyspark allows for this project to scale to big data processing.
<br>Pyspark can be run as part of an ETL pipeline in AWS or Databricks.
<br>For data exploration purposes, notebooks can also be used with Databricks.

<h4>Run Convenience</h4>
For ease of running this project, jupyter notebooks was used.
<br>This allows quick viewing of dataframes.

<h4>Test Quality and Coverage</h4>
PyTest cases have been included in code_test.py
<br>If more time allowed, 80% test coverage is the standard to implement.

<h4>Documentation</h4>
Doc strings and comments are included throughout the code.
<br>There is a readme describing code versions included.
<br>Later improvements could include the use of automated doc tools to pull the docstrings for more verbose documentation.
<br>Troubleshooting would have be included if more time was available.

In [8]:
#Imports used
import pytest
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import nest_asyncio
from pyspark.sql.functions import desc
from pyspark.sql.window import Window
import json
import clearscore_calculations

#PLEASE CHANGE THESE PATHS TO WHERE FOLDERS ARE EXTRACTED LOCALLY!
reports_path = 'E:/Technical Tests/ClearScore/bulk-reports/reports'
accounts_path = 'E:/Technical Tests/ClearScore/bulk-reports/accounts'

In [9]:
#nest_asyncio allows pyspark to run error-free in jupyter notebook
nest_asyncio.apply()

In [10]:
#Run pyspark tests to ensure correct functionality before processing reports
!pytest code_tests.py

============================= test session starts =============================
platform win32 -- Python 3.9.1, pytest-7.4.2, pluggy-1.3.0
rootdir: C:\Users\hayle\AppData\Local\Programs\Python\Python39\Scripts\test
plugins: anyio-2.2.0
collected 3 items

code_tests.py ...                                                        [100%]

============================== 3 passed in 8.77s ==============================
SUCCESS: The process with PID 32508 (child process of PID 25084) has been terminated.
SUCCESS: The process with PID 25084 (child process of PID 41648) has been terminated.
SUCCESS: The process with PID 41648 (child process of PID 1200) has been terminated.

In [11]:
#Load in json datasets as pyspark dataframes
df_reports = clearscore_calculations.create_spark_df(reports_path)
df_accounts = clearscore_calculations.create_spark_df(accounts_path)
#Remove unnecessary columns to keep dataset as small as poss
df_accounts = df_accounts.drop(*['marketId', 'schemaVersion', 'deletedTimestamp', 'updatedTimestamp']).withColumnRenamed('uuid', 'user-uuid')
df_reports = df_reports.drop(*['bureau-id', 'client-ref'])
#Show sample of data
df_reports.show()
df_accounts.show()

+----------+-------------------+--------------------+---------+--------------------+
|account-id|   pulled-timestamp|              report|report-id|           user-uuid|
+----------+-------------------+--------------------+---------+--------------------+
|    655300|2019-01-15T03:48:53|{{{[{94d9a04c41d3...| 44084034|8a7cd396-4de6-4ca...|
|    655300|2018-12-15T00:43:44|{{{[{94d9a04c41d3...| 43405579|8a7cd396-4de6-4ca...|
|    655300|2018-11-14T00:54:56|{{{[{94d9a04c41d3...| 42760695|8a7cd396-4de6-4ca...|
|     31300|2018-07-10T13:43:24|{{{[{1aa1a3d5e8ad...| 40534392|84b111a6-2747-441...|
|     31300|2018-05-10T00:34:39|{{{[{1aa1a3d5e8ad...| 39565862|84b111a6-2747-441...|
|     31300|2018-06-10T00:46:43|{{{[{1aa1a3d5e8ad...| 40032979|84b111a6-2747-441...|
|     31300|2018-04-09T00:22:16|{{{[{1aa1a3d5e8ad...| 39146400|84b111a6-2747-441...|
|     31300|2018-12-10T00:01:04|{{{[{1aa1a3d5e8ad...| 43308952|84b111a6-2747-441...|
|    655300|2018-05-28T09:28:20|{{{[{552525fc2deb...| 39901445|8a7cd396-4de6-4ca...|
|    655300|2018-10-14T00:58:40|{{{[{94d9a04c41d3...| 42149391|8a7cd396-4de6-4ca...|
|     31300|2018-11-09T22:41:04|{{{[{1aa1a3d5e8ad...| 42674920|84b111a6-2747-441...|
|     31300|2018-03-09T00:13:18|{{{[{1aa1a3d5e8ad...| 38776706|84b111a6-2747-441...|
|     31300|2018-10-10T22:50:06|{{{[{1aa1a3d5e8ad...| 42085789|84b111a6-2747-441...|
|     31300|2018-08-10T00:27:06|{{{[{1aa1a3d5e8ad...| 41055850|84b111a6-2747-441...|
|     31300|2018-02-06T16:40:51|{{{[{1aa1a3d5e8ad...| 38452754|84b111a6-2747-441...|
|    655300|2018-09-13T09:52:13|{{{[{94d9a04c41d3...| 41579357|8a7cd396-4de6-4ca...|
|     31300|2018-09-10T18:23:41|{{{[{1aa1a3d5e8ad...| 41520695|84b111a6-2747-441...|
|     31300|2018-01-07T00:12:58|{{{[{f50b46bc70d5...| 38166167|84b111a6-2747-441...|
|     31300|2017-10-03T10:16:49|{{{[{1aa1a3d5e8ad...| 37777769|84b111a6-2747-441...|
|     31300|2017-11-07T09:10:34|{{{[{f50b46bc70d5...| 37843879|84b111a6-2747-441...|
+----------+-------------------+--------------------+---------+--------------------+
only showing top 20 rows

+--------------------+---------+----------------+--------------------+
|             account|accountId|createdTimestamp|           user-uuid|
+--------------------+---------+----------------+--------------------+
|{[{xxx, true}], t...|   464600|   1521038503228|02fb16d1-1937-4e4...|
|{[{xxx, true}], t...|   337200|   1521037698844|0f331b0b-f1a2-4e5...|
|{[{xxx, true}], t...|   136100|   1521037045873|fd4e1337-115e-40a...|
|{[{xxx, false}], ...|   373500|   1521038339282|3da8c835-1ee2-41d...|
|{[{xxx, false}], ...|   135900|   1521037685972|e7c20761-8cb4-47f...|
|{[{xxx, false}], ...|   154600|   1521037044161|979dfe0c-5374-48e...|
|{[{xxx, false}], ...|   847000|   1540012439760|4db76b39-e949-472...|
|{[{xxx, true}], t...|   499000|   1521622270387|d21f8721-a394-469...|
|{[{xxx, false}], ...|   185800|   1521036912695|b80e7284-adcb-444...|
|{[{xxx, false}], ...|   495200|   1521534212590|6f5d9bbd-b744-49b...|
|{[{xxx, false}], ...|   740400|   1531553623021|eccf71a6-40ac-4a4...|
|{[{xxx, true}], t...|   536000|   1522781255392|f6ec5d42-0879-4ff...|
|{[{xxx, true}], t...|   213200|   1521038050468|a1e1e160-7de6-4e1...|
|{[{xxx, false}], ...|   736500|   1531255848666|e272d78d-4964-415...|
|{[{xxx, false}], ...|   681000|   1528469034990|3dc87c55-fce3-4a3...|
|{[{xxx, true}], t...|   703100|   1529404239493|8915b870-4f5b-4df...|
|{[{xxx, false}], ...|   335700|   1521037855227|4d14f02f-836e-4fa...|
|{[{xxx, false}], ...|   193700|   1521037563211|0110c686-c6a0-425...|
|{[{xxx, true}], t...|   126700|   1521037983120|db5217c0-a1c2-4b7...|
|{[{xxx, false}], ...|   821600|   1538550562243|857fe2ba-2bc1-46c...|
+--------------------+---------+----------------+--------------------+
only showing top 20 rows

<h3>Average Credit Score (from all reports)</h3>

In [12]:
#Pull scores from user reports and calculate average
df_scores = clearscore_calculations.get_scores(df_reports)
average_score = round(df_scores.select(F.avg('score')).first()[0])
print(f'The average credit score is {average_score}')

The average credit score is 532

<h3>Number of Users Under Each Employment Status</h3>

In [13]:
#Group users by employment status and cache for quicker loading in functions below
df_accounts_employment = clearscore_calculations.get_employment_status(df_accounts)
df_accounts_employment.cache()
employment_status_count = df_accounts_employment.groupBy('employment_status').count()
employment_status_count.show()

+-----------------+-----+
|employment_status|count|
+-----------------+-----+
|      FT_EMPLOYED|   42|
|      PT_EMPLOYED|    2|
|       UNEMPLOYED|    3|
|    SELF_EMPLOYED|    6|
|     WORK_AT_HOME|    1|
|          STUDENT|    1|
|             null|    4|
+-----------------+-----+

<h3>Count of Users In Credit Score Ranges</h3>

In [14]:
#Get most recent reports for each user and count number of users in credit ranges
#Cache for quicker reload later
most_recent_scores_df = clearscore_calculations.get_most_recent_reports(df_scores)
most_recent_scores_df.cache()
num_users_score_range = clearscore_calculations.get_score_range_count(most_recent_scores_df)
num_users_score_range.show()

+----+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|0-50|51-100|101-150|151-200|201-250|251-300|301-350|351-400|401-450|451-500|501-550|551-600|601-650|651-700|
+----+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|   4|     0|      0|      0|      0|      0|      0|      0|      0|      1|      7|     10|      5|     12|
+----+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

<h3>Enriched Bank Data</h3>

In [15]:
#Pull bank data and combine datasets
enriched_df = clearscore_calculations.create_enriched_df(most_recent_scores_df, df_accounts_employment)
enriched_df.show()

+--------------------+-------------------+------------------------------+-------------------------+-----------------+-------------------+
|           user-uuid|   pulled-timestamp|number_of_active_bank_accounts|total_outstanding_balance|employment_status|          bank_name|
+--------------------+-------------------+------------------------------+-------------------------+-----------------+-------------------+
|979dfe0c-5374-48e...|2019-01-23T16:01:46|                             3|                   984212|      FT_EMPLOYED|      STANDARD_BANK|
|ab5a2fe6-f2c9-42a...|2018-12-20T08:35:09|                             0|                        0|      FT_EMPLOYED|FIRST_NATIONAL_BANK|
|bfcc1755-060b-49f...|2019-01-17T01:34:29|                             0|                        0|      FT_EMPLOYED|            NEDBANK|
|405e0215-a0db-442...|2019-01-14T02:48:31|                             2|                    92562|      FT_EMPLOYED|               ABSA|
|4d14f02f-836e-4fa...|2018-12-29T00:46:45|                             0|                        0|    SELF_EMPLOYED|      STANDARD_BANK|
|94653263-3ba4-4bd...|2019-01-22T00:32:18|                             2|                   666490|      FT_EMPLOYED|      STANDARD_BANK|
|e272d78d-4964-415...|2019-01-19T19:06:23|                             1|                     6736|      FT_EMPLOYED|      STANDARD_BANK|
|336b9f63-aa33-4a4...|2019-01-01T01:46:19|                             0|                        0|      FT_EMPLOYED|            CAPITEC|
|861e51b8-41db-4b5...|2019-01-25T10:58:07|                             2|                  1150144|     WORK_AT_HOME|               ABSA|
|6f5d9bbd-b744-49b...|2019-01-01T16:04:09|                             1|                    12263|       UNEMPLOYED|FIRST_NATIONAL_BANK|
|b80e7284-adcb-444...|2019-01-24T18:28:17|                             0|                        0|      PT_EMPLOYED|      STANDARD_BANK|
|c989b2d7-56e2-4a8...|2018-12-24T02:48:47|                             2|                    20589|      FT_EMPLOYED|               ABSA|
|db5217c0-a1c2-4b7...|2019-01-18T00:16:41|                             1|                     3342|      FT_EMPLOYED|               ABSA|
|eccf71a6-40ac-4a4...|2019-01-19T19:54:48|                             0|                        0|      FT_EMPLOYED|            CAPITEC|
|b7890398-0a94-489...|2019-01-05T22:30:23|                             0|                        0|      PT_EMPLOYED|            CAPITEC|
|6d36aa63-e1c2-4a1...|2018-12-26T02:27:52|                             3|                   156642|    SELF_EMPLOYED|               ABSA|
|8a7cd396-4de6-4ca...|2019-01-15T03:48:53|                             1|                    17820|      FT_EMPLOYED|               ABSA|
|a1e1e160-7de6-4e1...|2019-01-24T23:10:15|                             1|                     1486|       UNEMPLOYED|            CAPITEC|
|4db76b39-e949-472...|2018-12-25T00:24:59|                             1|                        0|      FT_EMPLOYED|FIRST_NATIONAL_BANK|
|8915b870-4f5b-4df...|2019-01-27T05:12:43|                             3|                  1162264|      FT_EMPLOYED|      STANDARD_BANK|
+--------------------+-------------------+------------------------------+-------------------------+-----------------+-------------------+
only showing top 20 rows

In [16]:
#Output as CSVs in temp folder
temp_path = clearscore_calculations.create_temp_folder()
clearscore_calculations.df_to_csv(num_users_score_range, 'Score_Range_Count', temp_path)
clearscore_calculations.df_to_csv(employment_status_count, 'Employment_Status_Count', temp_path)
clearscore_calculations.df_to_csv(enriched_df, 'Enriched_Bank_Data', temp_path)
clearscore_calculations.stop_spark()

File has been written to "C:\Users\hayle\AppData\Local\Temp\tmpegh5l_to"
File has been written to "C:\Users\hayle\AppData\Local\Temp\tmpegh5l_to"
File has been written to "C:\Users\hayle\AppData\Local\Temp\tmpegh5l_to"